

.custom-box {
  height: 150px !important;
  margin: 10px !important;
}

.small-padding {
  padding: 10px;
}

.big-padding {
  padding: 50px;
}

textarea {
  width: 100%;
  margin-bottom: 0 !important;

}
input:not(:focus), textarea:not(:focus) {
  border: 0px !important;
}

input:focus, textarea:focus {
  border: 1px solid #bbb;
  outline: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
}

.title-text {
  color: #3A7CA3;
}
